.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con transparencia */
    z-index: 1; /* Asegura que la superposición esté encima de todo */
    justify-content: center;
    align-items: center;
  }

  /* Estilo para la imagen en zoom */
  .zoomed-image {
    display: none;
    max-width: 90%;
    max-height: 90%;
  }

  /* Estilo para cerrar la imagen */
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  /* Estilo para mostrar la imagen cuando se hace clic */
  .image-clickable {
    cursor: pointer;
  }

  /* Estilo para el cuerpo del documento */
  body {
    font-family: Arial, sans-serif;
  }